<div class="container">
  <form id='login_form' name='login_form' action='/login' method='POST'>
  	<fieldset>
      <legend>Log In:</legend>
	    <input type='text' name='email' placeholder='email'><br>
	    <input type='password' name='password' placeholder='password'><br>
	    <input type='submit' value='log in'>
	  </fieldset>
  </form>
</div>