<div class="container">
	<form id='signup_form' name='signup_form' action='/signup' method='POST'>
    <fieldset>
      <legend>Sign Up:</legend>
      <input type='text' name='first_name' placeholder='first name'><br>
      <input type='text' name='last_name' placeholder='last name'><br>
      <input type='text' name='username' placeholder='username'><br>
      <input type='text' name='email' placeholder='email'><br>
      <input type='password' name='password' placeholder='password'><br>
      <input type='password' name='confirm_password' placeholder='confirm password'><br>
      <input type='submit' value='sign up'>
    </fieldset>
  </form>
</div>
